altgraph==0.17.2
aniso8601==9.0.1
astroid==2.8.4
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.6
cycler==0.11.0
DateTime==4.3
DAWG-Python==0.7.2
docopt==0.6.2
docxtpl==0.11.3
ezMail==0.0.21
Flask==2.0.2
Flask-Login==0.5.0
Flask-RESTful==0.3.9
Flask-WTF==1.0.0
fonttools==4.28.3
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
idna==2.10
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lxml==4.6.2
MarkupSafe==2.0.1
matplotlib==3.5.0
mccabe==0.6.1
mpmath==1.2.1
packaging==21.3
pandas==1.3.4
platformdirs==2.4.0
psutil==5.8.0
pycparser==2.20
pyodbc==4.0.32
pyparsing==3.0.6
pyperclip==1.8.2
pyserial==3.5
python-dateutil==2.8.2
python-docx==0.8.10
python-dotenv==0.19.0
pytz==2021.1
pyusb==1.1.1
requests==2.25.1
schedule==1.1.0
scipy==1.7.3
seaborn==0.11.2
setuptools-scm==6.3.2
soupsieve==2.2.1
SQLAlchemy==1.4.31
SQLAlchemy-serializer==1.4.1
sympy==1.9
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.4
usb==0.0.83.dev0
Werkzeug==2.0.2
wikipedia==1.4.0
wrapt==1.13.3
WTForms==3.0.1
wtforms-html5==0.6.1
XlsxWriter==1.3.7
zope.interface==5.2.0