form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #38a854;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.news-form {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.jobs-form {
    max-width: 650px;
    left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.info-user {
  right: 10px;
}


h4 {
    color: #7b917b;
    padding: 20px;
}

table {
   border: 1px solid grey;
}

th {
   border: 1px solid grey;
}

td {
   border: 1px solid grey;
}

p_recipe {
    color: #222;
    font-family: ‘Open Sans’, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
}

table {
   width: 100%;
}

table {
   width: 600px;
}