{% extends "base.html" %}

{% block content %}
    <ul>
        <h1 align="center">Works log</h1>
        {% for action in jobs %}
            <form class="jobs-form">
                <h2 align="center">Action {{ action["id"] }}</h2>
                <table>
                    <tr>
                        <th style="background-color:Gainsboro">Title of activity</th>
                        <th style="background-color:Gainsboro">Team leader</th>
                        <th style="background-color:Gainsboro">Duration</th>
                        <th style="background-color:Gainsboro">List of collaborators</th>
                        <th style="background-color:Gainsboro">is finished</th>
                    </tr>
                    <tr>
                        <td style="background-color:GreenYellow">{{ action["job"] }}</td>
                        <td style="background-color:GreenYellow">{{ action["team_leader"] }}</td>
                        <td style="background-color:GreenYellow">{{ action["duration"] }}</td>
                        <td style="background-color:GreenYellow">{{ action["collaborators"] }}</td>
                        {% if action["finished"] == True %}
                        <td style="background-color:Lime">finished</td>
                        {% else %}
                        <td style="background-color:Red">is not finished</td>
                        {% endif %}
                    </tr>
                </table>
                <br>
                {% if (current_user.is_authenticated and current_user.id == action["team_leader_id"]) or current_user.id == 1 %}
                    <div>
                        <a style="border-right: 2px;" href="/jobs/{{ action["id"] }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a style="border-right: 2px;" href="/jobs_delete/{{ action["id"] }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                {% endif %}
            </form>
            <br>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
        <div>
            <a style="float: left; border: 10px;" href="news" class="btn btn-secondary">Добавить новость</a>
            <div style="float: left; width: 20px; height: 100px;"><br></div>
            <a style="float: left; border: 10px;" href="add_job" class="btn btn-secondary">Добавить работу</a>
            <div style="float: left; width: 20px; height: 100px;"><br></div>
            <a style="float: left; border: 10px;" href="all_news" class="btn btn-secondary">Показать новости</a>
            <div style="float: left; width: 20px; height: 100px;"><br></div>
            <a style="float: left; border: 10px;" href="all_departments" class="btn btn-secondary">К таблице департаментов</a>
        </div>
    {% endif %}
{% endblock %}